@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --color-text-main: rgb(255, 255, 255);
  --accent-color:rgb(12, 140, 94);
  --color-text-heading:lab(80.02% -59.66 22.63);
  --color-text-paragraph-700:lab(100 0 0 / 0.7);
  --color-text-paragraph-500:lab(100 0 0 /0.5);
  --color-text-seconday:rgb(138, 138, 139);
  --color-text-button:lab(2.42579 -0.165291 -0.470081);
  --color-bg-black-buttton-default:lab(2.43% -0.12 -0.47);
  --color-bg-black-button-hover:lab(8.14% -0.48 -0.17);
  --color-bg-white-buttton-default:lab(100% 0.01 -0.01);
  --color-bg-white-button-hover:lab(87.33% -0.33 -0.13);
}

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-text-main);

  background-color: #08090A;
}

header{
  width: 100vw;
  padding: 16px 24px;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(16px);
}

.navbar{
  margin: 0 auto;
  max-width: 1056px;
  display: flex;
  justify-content: space-between;
}

.navbar-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 752px; ;
}

.logo-container span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right{
  display: flex;
  justify-content:flex-end;
  gap: 8px;
}

nav ul{
  display: flex;
  gap: 4px;
  list-style-type:none;
  padding: 0px;
}

nav ul a{
  text-decoration: none;
  color: var(--color-text-main);
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  padding: 4px 12px;
}

button{
  box-shadow: none;
  border: none;
  font-family: "Inter",sans-serif;
}
.btn-small{
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 2rem;
}

.btn-big{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 7px 24px;
  border-radius: 2rem;
}

.btn-white{
  color: var(--color-text-button);
  background-color: var(--color-bg-white-buttton-default);
}

.btn-white:hover{
  background-color: var(--color-bg-white-button-hover);
}

.btn-contact{
  color: var(--color-text-main);
  background-color: lab(100 0 0 / 0.05);
}

.btn-black{
  color: var(--color-text-main);
  background-color: var(--color-bg-black-buttton-default);
}

.btn-black:hover{
  background-color: var(--color-bg-black-button-hover);
}

.blank-div{
  padding: 16px 24px; /* same padding which we give to header*/
}
.blank-div div{
  height: 33px;
}
.hero-section{
  position: relative;
}

.bg-photo{
  background-image: url(./asset/mintlify-bg-dark.svg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: -75px;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(#000 0%,rgba(0,0,0,.99) 18.5%,rgba(0,0,0,.953) 34.3%,rgba(0,0,0,.894) 47.6%,rgba(0,0,0,.824) 58.5%,rgba(0,0,0,.74) 67.5%,rgba(0,0,0,.647) 74.7%,rgba(0,0,0,.55) 80.3%,rgba(0,0,0,.45) 84.7%,rgba(0,0,0,.353) 88%,rgba(0,0,0,.26) 90.5%,rgba(0,0,0,.176) 92.5%,rgba(0,0,0,.106) 94.2%,rgba(0,0,0,.047) 95.9%,rgba(0,0,0,.01) 97.7%,transparent 100%);

}

.hero-image-container{
  max-width: 1080px;
  overflow: hidden;
  border: 2.4px solid lab(100 0 0/0.05);
  border-bottom-width : 0px ;
  border-radius: 24px;
  margin: 0 auto;
}


.hero-image-container img{
  width: 100%;
  height: auto;

}

.updates-tile{
  position: absolute;
  top: 30px;
  left: 50%;
  border-radius: 60px;
  background-color: lab(100 0 0 / 0.15);
  backdrop-filter: blur(12px);
  translate: -50%;
}

.updates-tile a{
  display: flex;
  gap: 10px;
  padding: 4px 8px 4px 4px;
  align-items: center;
  text-decoration: none;
}

.new-label{
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 2px 8px;
  color: var(--color-text-main);
  background-color: var(--accent-color);
  border-radius: 60px;
  text-transform: uppercase;
}

.right-arrow{
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: var(--color-text-main);
  user-select: none;
}

.updates-tile p{
  color: var(--color-text-main);
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.hero-section-top-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 104px;
  padding-bottom: 96px;
  color: var(--color-text-main);
}

.hero-section-top-text h1{
  font-size: 61px;
  line-height: 71px;
  font-weight: 600;
  text-align: center;
  text-wrap: wrap balance;
  max-width: 43rem;
}

.hero-section-top-text p{
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  max-width: 29.5rem;
  text-align: center;
  text-wrap: wrap balance;
  margin-top: 24px;
  
}

.hero-section-top-text form{
  margin-top: 32px;
  display: flex;
  gap: 6px;
  padding: 4px;
  background-color: lab(100 0 0 / 0.15);
  backdrop-filter: blur(12px);
  border-radius: 60px;
  border: 0.8px solid lab(100 0 0 / 0.15);
}


.hero-section-top-text input{
  padding: 0px 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  color: var(--color-text-main);
  background-color: transparent;
  border: none; 
  outline-style: none;
}

input::placeholder{
  color: lab(100% 0.01 -0.01 / 0.514);;
}
input:active{
  background-color: transparent;
}
