@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --color-text-main: rgb(255, 255, 255);
  --accent-color:rgb(12, 140, 94);
  --color-text-heading:lab(80.02% -59.66 22.63);
  --color-text-paragraph-700:lab(100 0 0 / 0.7);
  --color-text-paragraph-500:lab(100 0 0 /0.5);
  --color-text-seconday:rgb(138, 138, 139);
  --color-text-button:lab(2.42579 -0.165291 -0.470081);
  --color-bg-black-buttton-default:lab(2.43% -0.12 -0.47);
  --color-bg-black-button-hover:lab(8.14% -0.48 -0.17);
  --color-bg-white-buttton-default:lab(100% 0.01 -0.01);
  --color-bg-white-button-hover:lab(87.33% -0.33 -0.13);
}

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-text-main);

  background-color: #08090A;
}

header{
  padding: 16px 24px;
}

.navbar{
  margin: 0 auto;
  padding: 3px 0;
  max-width: 1056px;
  display: flex;
  justify-content: space-between;
}

.navbar-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 752px; ;
}

.logo-container span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right{
  display: flex;
  justify-content:flex-end;
  gap: 8px;
}

nav ul{
  display: flex;
  gap: 4px;
  list-style-type:none;
  padding: 0px;
}

nav ul a{
  text-decoration: none;
  color: var(--color-text-main);
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  padding: 4px 12px;
}

button{
  box-shadow: none;
  border: none;
  font-family: "Inter",sans-serif;
}
.btn-small{
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 2rem;
}

.btn-big{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 7px 24px;
  border-radius: 2rem;
}

.btn-white{
  color: var(--color-text-button);
  background-color: var(--color-bg-white-buttton-default);
}

.btn-white:hover{
  background-color: var(--color-bg-white-button-hover);
}

.btn-contact{
  color: var(--color-text-main);
  background-color: lab(8.14% -0.48 -0.17 / 0.8);
}

.btn-black{
  color: var(--color-text-main);
  background-color: var(--color-bg-black-buttton-default);
}

.btn-black:hover{
  background-color: var(--color-bg-black-button-hover);
}

